body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    font-size: 18px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding:0;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(25, 56, 38);
    color: white;
    padding: 16px 200px;

}

.header-logo {
    font-size: 22px;
    font-weight: bold;
    display: flex; 
    flex-shrink: 0;
}


.main-img {
    height: auto;
    width: 500px;
}

.main-one {
    display: flex;
    background-color: rgb(25, 56, 38);
    color: white;
    padding: 100px 200px;
    justify-content: space-between;
    flex: 1;
}

.left-info {
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    flex-shrink: 0;  
    color: #dcdfe4
}

button {
    width: 130px;
    padding: 8px 16px;
    border-radius: 8px;
    background-color:rgb(48, 134, 86);
    border: none;
    margin: 16px 0;
    font-weight: bold;
    color: white;
    font-size: 18px;
}


.title {
    font-size: 48px;
    font-weight: bold;
    color: white;
}


.main-two {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bolder;
    padding: 32px;
    color:rgb(25, 56, 38) ;
}

.img-info {
    display: flex;
    text-align: center;
    padding: 16px 300px;
    gap: 36px; 
    justify-content: center;
}

.imgs {
    width: 200px;
    height: auto;
}

.img-border {
    width: 180px;
    height: 180px; 
    overflow: hidden;
    border-style: solid;
    border-color: rgb(48, 134, 86);
    border-radius: 8px;
    border-width: 5px;
    box-sizing: border-box;
    margin-bottom: 16px; 
} 

.indiv-info {
    display: flex;
    width: 200px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 90px;
    color: #666666;
}

.main-three {
    background-color: #e5e7eb;
    padding: 100px;
}

.quote {
    margin: 32px 200px;
    font-size: 36px;
    font-weight: 100;
    color: rgb(25, 56, 38);
}

.by {
    display: flex;
    justify-content: flex-end;
    color:rgb(25, 56, 38);
    font-weight: bolder;
    margin: 0 200px;
    font-size: 28px;
}

.main-four {
    background-color: rgb(48, 134, 86);
    margin: 50px 200px;
    height: 150px;
    border-radius: 8px;
    color: #dcdfe4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.button-border {
    border-style: solid;
    color: white;
    border-width: 2px;
}

.ad {
    font-weight: bolder;
    font-size: 22px;
    color: white;
}

button:hover {
    background-color: rgb(221, 221, 221);
} 

a:hover {
    opacity: 0.5;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(25, 56, 38);
    flex-direction: column;
    color: white;
    padding: 16px;
    line-height: 1.5em;
}